@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto @ViewData["Project"]</p>
<p>Aluno @ViewData["Student"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/vinicius-coder/">Github</a>
</address>